include smartanthill/*.json

include smartanthill/cc/embedded/firmware/platformio.ini
recursive-include smartanthill/cc/embedded/firmware/lib *
recursive-include smartanthill/cc/embedded/firmware/src *

recursive-include smartanthill/dashboard/site/dist *