<h1 ng-show="!editMode">New Device</h1>
<h1 ng-show="editMode">Edit Device #{{ prevState.id }}</h1>

<form name="deviceForm" ng-submit="submitForm()" novalidate role="form">

  <div class="form-group" show-form-errors>
    <label class="control-label">ID</label>
    <input
      type="number"
      name="id"
      class="form-control"
      required
      min="1"
      max="255"
      ng-model="device.id"
      tooltip="Device Unique ID (like address) between 1 and 255"
      tooltip-placement="right">
  </div>

  <div class="form-group" show-form-errors>
    <label class="control-label">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Enter device name"
      required
      ng-model="device.name"
      ng-pattern="/^[a-z0-9\_\- ]+$/i"
      tooltip="Examples: My first device, Kitchen node, CAN Router Device and etc."
      tooltip-placement="right">
  </div>

  <div class="form-group" show-form-errors="submitted && !selectBoard.selected">
    <label class="control-label">Board</label>
    <ui-select ng-model="selectBoard.selected" theme="bootstrap">
      <ui-select-match required placeholder="Select or search a board in the list...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices group-by="boardGroupBy" repeat="item in boards | filter: {name: $select.search}">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label>Operations</label>
    <div class="btn-group btn-group-sm">
      <label
        class="btn btn-default"
        ng-model="device.operationIds[op.id]"
        ng-repeat="op in operations"
        btn-checkbox>{{ op.name }}</label>
    </div>
  </div>

  <div class="form-group" show-form-errors>
    <label class="control-label">Connection URL</label>
    <input
      type="text"
      name="netrouter"
      class="form-control"
      placeholder="How device will be connected to SmartAnthill?"
      required
      ng-model="device.network.router"
      ng-pattern="/^serial(\:[a-z]+=[^\:]+)+$/"
      tooltip="Examples: serial:port=/dev/ttyUSB0, serial:port=COM1:baudrate=9600"
      tooltip-placement="right">
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="disableSubmit || deviceForm.$invalid || !selectBoard.selected">Submit</button>
  <button type="button" class="btn btn-link" ng-click="resetForm()">Reset</button>
</form>

<br class=clearfix>
