<div class="modal-header">
  <h3 class="modal-title">Device #{{ device.id }} - Train It!</h3>
</div>
<div class="modal-body">

<p><kbd>Train It!</kbd> will generate a special firmware and upload it to your device using <a href="http://en.wikipedia.org/wiki/Serial_port" target="_blank">Serial Port</a>.</p>

<p>Please connect your device to computer where this <em>SmartAnthill Dashboard</em> is launched.</p>

<div class="form-group">
  <label class="control-label">Device Serial Port</label>
  <ui-select ng-model="selectedSerialPort.selected" theme="bootstrap">
    <ui-select-match required placeholder="Select or search a device serial port in the list...">{{ $select.selected.port }}</ui-select-match>
    <ui-select-choices repeat="item in serialports | filter:$select.search">
      <div ng-bind-html="item.port | highlight: $select.search"></div>
      <small ng-bind-html="item.description | highlight: $select.search"></small>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label class="control-label">Progress</label>
  <progressbar class="progress-striped active" value="progressbar.value">{{ progressbar.info }}</progressbar>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="start()" ng-disabled="!selectedSerialPort.selected || btnDisabled.start">Start</button>
  <button class="btn btn-default" ng-click="cancel()" ng-disabled="btnDisabled.cancel">Cancel</button>
</div>

