<div ng-show="devices.length">
  <h1>Device</h1>
  <p>
    <a href="#!/devices/add" class="btn btn-primary" role="button">New Device</a>
  </p>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <tr ng-repeat="device in devices">
      <td>
        {{device.id}}
      </td>
      <td>
        <a href="#!/devices/{{device.id}}">{{device.name}}</a>
      </td>
    </tr>
  </table>
</div>

<div class="jumbotron" ng-show="!devices.length">
  <h1>Devices</h1>
  <p>You devices list is empty.</p>
  <p><a href="#!/devices/add" class="btn btn-primary" role="button">Add new Device</a> </p>
</div>
