<h1>Device #{{ vm.device.id }}</h1>

<p>
  <a href="#!/devices/{{ vm.device.id }}/edit" class="btn btn-primary" role="button">Edit</a>
  <button class="btn btn-success" role="button" ng-click="vm.trainIt()">Train It!</button>
  <button type="button" class="btn btn-link" ng-click="vm.deleteDevice()">delete</button>
</p>

<br class="clearfix">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">General</h3>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal">
      <dt>ID:</dt>
      <dd>{{ vm.device.id }}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd>{{ vm.device.name }}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Operations:</dt>
      <dd>
        <span ng-repeat="op in vm.operations">
          <span
            class="label label-default"
            ng-repeat="id in vm.device.operationIds"
            ng-if="op.id == id"
            popover="ID: 0x{{ id.toString(16) }}"
            popover-trigger="mouseenter">{{ op.name }}</span>
        </span>
      </dd>
    </dl>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Board</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Vendor:</dt>
      <dd>{{ vm.board.vendor }}</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd><a href="{{ vm.board.inforUrl }}" target="_blank">{{ vm.board.name }}</a></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Pin Modes:</dt>
      <dd>
        <span ng-repeat="(alias, id) in vm.board.pinModeArgParams">
          <span class="label label-default" popover="Mode: {{ id }}" popover-trigger="mouseenter">{{ alias }}</span>
        </span>
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Analog References:</dt>
      <dd>
        <span ng-repeat="(alias, id) in vm.board.pinAnalogRefArgParams">
          <span class="label label-default" popover="Reference: {{ id }}" popover-trigger="mouseenter">{{ alias }}</span>
        </span>
      </dd>
    </dl>

    <table class="table table-hover table-devpins">
      <tr>
        <th>Pin</th>
        <th>Alias</th>
        <th>Digital</th>
        <th>Analog</th>
        <th>PWM</th>
        <th>External Interrupt</th>
      </tr>
      <tr ng-repeat="pin in vm.board.pins">
        <td>{{ pin }}</td>
        <td>
          <span ng-repeat="(alias, _pin) in vm.board.pinsAlias">
            <span class="label label-default" ng-if="pin == _pin">{{ alias }}</span>
          </span>
        </td>
        <td><i class="fa fa-check"></i></td>
        <td>
          <span ng-repeat="_pin in vm.board.analogPins">
            <i class="fa fa-check" ng-if="pin == _pin"></i>
          </span>
        </td>
        <td>
          <span ng-repeat="_pin in vm.board.pwmPins">
            <i class="fa fa-check" ng-if="pin == _pin"></i>
          </span>
        </td>
        <td>
          <span ng-repeat="_pin in vm.board.extintPins">
            <i class="fa fa-check" ng-if="pin == _pin"></i>
          </span>
        </td>
      </tr>
    </table>

  </div>
</div>

